@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

figure {
  grid-column: 1 /-1;
  margin: 0;
}

figure img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-size: 0.6em;
  font-family: "Nunito", sans-serif;
  margin-left: 0.6em;
  color: #8c8c8c;
}

@media (min-width: 1025px) {
  figcaption {
    margin-left: 0;
  }
}

header {
  grid-area: header;
}

header img.me {
  display: block;
  border-radius: 50%;
  height: 150px;
  width: auto;
  margin: 50px auto;
}

@media (max-width: 640px) {
  header img.me {
    height: 100px;
  }
}

.sidebar {
  max-width: 640px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em;
}

@media (max-width: 640px) {
  .sidebar {
    margin: auto 2em;
  }
}

.sidebar ul {
  font-size: 0.9em;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  list-style-type: square;
  margin: 0;
  padding: 0 0 0 1em;
}

.sidebar ul li {
  font-family: "Nunito", sans-serif;
}

.sidebar h4 {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  margin: 0 0 1em 0;
  text-align: initial;
}

@media (max-width: 1024px) {
  .sidebar h4 {
    text-align: center;
  }
}

.sidebar .social-icon {
  height: 30px;
  width: 100%;
  display: block;
}

.sidebar.contact {
  grid-area: contact;
}

@media (min-width: 1025px) {
  .sidebar.contact {
    border-left: 2px solid #76b4c8;
  }
}

@media (max-width: 1024px) {
  .sidebar.contact {
    text-align: center;
  }
}

.sidebar.contact ul {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
}

.sidebar.contact ul li:first-child {
  grid-column: 1 / -1;
}

.sidebar.rel-skills {
  grid-area: rel-skills;
}

@media (min-width: 1025px) {
  .sidebar.rel-skills {
    border-right: 2px solid #76b4c8;
  }
}

.sidebar.creations {
  grid-area: creations;
}

@media (min-width: 1025px) {
  .sidebar.creations {
    border-right: 2px solid #76b4c8;
  }
}

.sidebar.other-skills {
  grid-area: other-skills;
}

@media (min-width: 1025px) {
  .sidebar.other-skills {
    border-left: 2px solid #76b4c8;
  }
}

footer {
  border-top: 2px solid #76b4c8;
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 4em 0;
  width: 100%;
}

footer p {
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

@media print {
  .me {
    height: 100px;
    width: auto;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  p {
    line-height: 1.5;
    font-size: 0.4rem;
  }
  .profile p {
    font-size: 0.9rem;
  }
  .date {
    font-size: 0.3em;
    color: grey;
  }
  h1 {
    font-size: 1.1rem;
    margin: 0;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 0.5rem;
  }
  .work.experience h2 {
    -webkit-column-break-before: page;
            break-before: page;
    page-break-before: always;
  }
  figure,
  blockquote,
  .sidebar {
    display: none;
  }
  .wrapper {
    margin: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
        grid-template-areas: "contact" "header" "profile" "work" "edu" "vol" "ref";
  }
  .profile,
  .experience,
  .ref {
    width: 400px;
    margin: auto;
  }
  .sidebar,
  footer p {
    font-size: 0.1rem;
  }
  .sidebar.contact {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0;
  }
  .sidebar.contact h4 {
    display: none;
  }
  footer {
    border: 0;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 0.1rem;
    line-height: 1.8;
    display: inline;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  overflow-x: hidden;
}

p {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1024px) {
  p {
    font-size: 1.2em;
  }
}

p.date {
  font-size: 1em;
  color: #8c8c8c;
}

@media (max-width: 640px) {
  p.date {
    font-size: 0.8em;
  }
}

p + p {
  margin-top: 0.5em;
}

a,
a:visited,
a:hover,
a:active {
  -webkit-text-decoration: underline wavy #76b4c8;
          text-decoration: underline wavy #76b4c8;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 5rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 8vw;
  }
}

h2 {
  margin: 1em 0 0.6em 0;
  font-size: 3em;
}

@media (max-width: 640px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
  margin: 1em 0 0.6em 0;
}

@media (max-width: 640px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  margin: 0.6em 0 0.4em 0;
  font-size: 1.6em;
}

@media (max-width: 640px) {
  h4 {
    font-size: 1.3em;
  }
}

blockquote {
  margin: 0.2em;
  font-weight: 300;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  grid-column: 1 / -1;
  font-style: italic;
  color: #76b4c8;
  font-size: 5em;
}

@media (max-width: 1024px) {
  blockquote {
    font-size: 10vw;
  }
}

.wrapper {
  max-width: 800px;
  margin: 100px auto;
  max-width: 1300px;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid: "header             header  header  header" ".                  profile profile contact" "hero-1             hero-1  hero-1  hero-1" "quote-1            quote-1 quote-1 quote-1" "rel-skills         work    work    ." "hero-2             hero-2  hero-2  hero-2" "quote-2            quote-2 quote-2 quote-2" "creations          edu     edu     ." "quote-3            quote-3 quote-3 quote-3" ".                  vol     vol     other-skills" ".                  ref     ref     ."/minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
}

@media (max-width: 1024px) {
  .wrapper {
    overflow-x: hidden;
    margin: 50px auto;
    grid: "header     header" "profile    profile" "contact    contact" "hero-1     hero-1" "quote-1    quote-1" "work       work" "hero-2     hero-2" "rel-skills other-skills" "quote-2    quote-2" "edu        edu" "quote-3    quote-3" "vol        vol" "ref        ref" "creations  creations" / 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .wrapper {
    grid: "header" "profile" "contact" "hero-1" "quote-1" "work" "hero-2" "rel-skills" "other-skills" "quote-2" "edu" "quote-3" "vol" "ref" "creations" / 1fr;
  }
}

.profile {
  max-width: 600px;
  text-align: justify;
  margin: auto;
  grid-area: profile;
}

.profile img:last-of-type {
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 200px;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .profile img:last-of-type {
    width: 150px;
  }
}

section {
  padding: 2em;
}

section.experience {
  text-align: center;
}

section.experience.work {
  grid-area: work;
}

section.experience.education {
  grid-area: edu;
}

section.experience.volunteer {
  grid-area: vol;
}

section.experience.references {
  grid-area: ref;
}
