body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}

ul {
  list-style-type: none;
  padding: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

p {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1024px) {
  p {
    font-size: 1.2em;
  }
}

a,
a:visited,
a:hover,
a:active {
  -webkit-text-decoration: underline wavy #76b4c8;
          text-decoration: underline wavy #76b4c8;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 8vw;
  }
}

h2 {
  margin-top: 0;
  font-size: 3em;
}

@media (max-width: 640px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
}

@media (max-width: 640px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.5em;
  margin-top: 0;
}

@media (max-width: 640px) {
  h4 {
    font-size: 1.2em;
  }
}

blockquote {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  grid-column: 1 / -1;
  font-style: italic;
  color: #76b4c8;
  font-size: 5em;
}

@media (max-width: 1024px) {
  blockquote {
    font-size: 10vw;
  }
}

figure {
  grid-column: 1 /-1;
  margin: 0;
}

figure img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-size: 0.6em;
  font-family: "Nunito", sans-serif;
  margin-left: 0.6em;
  color: #8c8c8c;
}

@media (min-width: 1025px) {
  figcaption {
    margin-left: 0;
  }
}

header {
  grid-area: header;
}

.browser-warning {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  font-size: 10px;
}

@supports (display: flex) {
  .browser-warning {
    display: none;
  }
}

.me {
  display: block;
  border-radius: 50%;
  height: 150px;
  width: auto;
  margin: 50px auto;
}

@media (max-width: 640px) {
  .me {
    height: 100px;
  }
}

.profile img:last-of-type,
.letter img:last-of-type {
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
  width: 200px;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .profile img:last-of-type,
  .letter img:last-of-type {
    width: 150px;
  }
}

.upload-controls {
  text-align: center;
}

.upload-controls input {
  font-size: 1em;
  text-align: center;
  padding: 50px;
}

.sidebar {
  width: 200px;
  max-width: 640px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .sidebar {
    width: initial;
  }
}

@media (max-width: 640px) {
  .sidebar {
    margin: auto 2em;
  }
}

.sidebar h4 {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 15px;
  text-align: initial;
}

@media (max-width: 1024px) {
  .sidebar h4 {
    text-align: center;
  }
}

.list-items {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-item {
  font-family: "Nunito", sans-serif;
  padding: 5px 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1024px) {
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (max-width: 480px) {
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

img.list-item {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 250px;
  padding: 0;
  margin-top: 0.7em;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1024px) {
  img.list-item {
    display: none;
  }
}

.sidebar.contact {
  grid-area: contact;
}

@media (min-width: 1025px) {
  .sidebar.contact {
    border-left: 2px solid #76b4c8;
  }
}

@media (max-width: 1024px) {
  .sidebar.contact {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .list-item.contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 20%;
            flex: 1 20%;
  }
}

@media (max-width: 640px) {
  .list-item.contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
}

.list-item.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.social-icons {
  height: 30px;
  width: 100%;
  display: block;
}

.sidebar.relevant-skills {
  grid-area: relevant-skills;
}

@media (min-width: 1025px) {
  .sidebar.relevant-skills {
    border-right: 2px solid #76b4c8;
  }
}

.sidebar.creations {
  grid-area: creations;
}

@media (min-width: 1025px) {
  .sidebar.creations {
    border-right: 2px solid #76b4c8;
  }
}

.sidebar.other-skills {
  grid-area: other-skills;
}

@media (min-width: 1025px) {
  .sidebar.other-skills {
    border-left: 2px solid #76b4c8;
  }
}

footer {
  border-top: 2px solid #76b4c8;
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 4em 0;
}

footer p {
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  max-width: 500px;
  margin: auto;
  list-style: none;
  text-align: center;
}

.print-footer {
  display: none;
}

.wrapper {
  max-width: 800px;
  margin: 100px auto;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .wrapper {
    max-width: 1300px;
    display: -ms-grid;
    display: grid;
    grid-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
        grid-template-columns: minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
        grid-template-areas: "header  header header header" ". profile profile contact" "hero-1 hero-1 hero-1 hero-1" "quote-1 quote-1 quote-1 quote-1" "relevant-skills work work ." "hero-2 hero-2 hero-2 hero-2" "quote-2 quote-2 quote-2 quote-2" "creations edu edu ." "quote-3 quote-3 quote-3 quote-3" ". vol vol other-skills" ". ref ref .";
  }
  @media (max-width: 1024px) {
    .wrapper {
      overflow-x: hidden;
      margin: 50px auto;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "header header" "profile profile" "contact contact" "hero-1 hero-1" "quote-1 quote-1" "work work" "hero-2 hero-2" "relevant-skills other-skills" "quote-2 quote-2" "edu edu" "quote-3 quote-3" "vol vol" "ref ref" "creations creations";
    }
  }
  @media (max-width: 640px) {
    .wrapper {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
          grid-template-areas: "header" "profile" "contact" "hero-1" "quote-1" "work" "hero-2" "relevant-skills" "other-skills" "quote-2" "edu" "quote-3" "vol" "ref" "creations";
    }
  }
}

.profile,
.letter {
  max-width: 600px;
  text-align: justify;
  margin: auto;
}

@media (max-width: 1024px) {
  .profile,
  .letter {
    padding: 0 2em;
  }
}

.profile,
.letter {
  grid-area: profile;
}

.profile p,
.letter p {
  margin: 1em 0;
}

.experience {
  text-align: center;
}

.work.experience {
  grid-area: work;
}

.education.experience {
  grid-area: edu;
}

.volunteer.experience {
  grid-area: vol;
}

.references.experience {
  grid-area: ref;
}

.logo {
  height: 30px;
  display: none;
}

.date {
  font-size: 1em;
  color: #8c8c8c;
}

@media (max-width: 640px) {
  .date {
    font-size: 0.8em;
  }
}

@media print {
  .me {
    height: 100px;
    width: auto;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  p {
    line-height: 1.5;
    font-size: 0.4rem;
  }
  .letter p,
  .profile p {
    font-size: 0.9rem;
  }
  .date {
    font-size: 0.3em;
    color: grey;
  }
  h1 {
    font-size: 1.1rem;
    margin: 0;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 0.5rem;
  }
  .work.experience h2 {
    -webkit-column-break-before: page;
            break-before: page;
  }
  figure,
  blockquote,
  .sidebar {
    display: none;
  }
  .wrapper {
    margin: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
        grid-template-areas: "contact" "header" "profile" "work" "edu" "vol" "ref";
  }
  .profile,
  .letter,
  .experience,
  .ref {
    width: 400px;
    margin: auto;
  }
  .sidebar,
  footer p {
    font-size: 0.1rem;
  }
  .sidebar.contact {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0;
  }
  .sidebar.contact h4 {
    display: none;
  }
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .list-item.social {
    display: none;
  }
  footer {
    border: 0;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 0.1rem;
    line-height: 1.8;
    display: inline;
  }
  .web-footer {
    display: none;
  }
  .print-footer {
    display: block;
  }
}
