body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}

header {
  grid-column: 1/-1;
}

@media print {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column: 2;
    padding: 0;
  }
}

.browser-warning {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  font-size: 10px;
}

@supports ((display: -webkit-box) or (display: flex)) {
  .browser-warning {
    display: none;
  }
}

.me {
  display: block;
  border-radius: 50%;
  height: 200px;
  width: auto;
  margin: auto;
  padding: 50px;
}

@media print {
  .me {
    height: 70px;
    width: auto;
    margin: initial;
  }
}

.profile p:last-of-type {
  font-size: 2em;
  font-family: "League Script", cursive;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  -ms-flex-item-align: center;
      align-self: center;
}

@media print {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    border: 2px solid #76b4c8;
  }
}

.sidebar h4 {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0.7em 1em;
  text-align: center;
}

.list-items {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-item {
  font-family: "Nunito", sans-serif;
  padding: 0.7em 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1024px) {
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (max-width: 480px) {
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

img.list-item {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 0.7em;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1024px) {
  img.list-item {
    display: none;
  }
}

.sidebar.contact {
  grid-column: span 1 / -1;
  grid-row-start: 2;
  border-left: 2px solid #76b4c8;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1024px) {
  .sidebar.contact {
    grid-column: 1 / -1;
    grid-row: 3;
    margin: 2em;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .list-item.contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 20%;
            flex: 1 20%;
  }
}

@media (max-width: 640px) {
  .list-item.contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
}

.list-item.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-icons {
  height: 30px;
  width: 100%;
  display: block;
}

.sidebar.relevant-skills {
  grid-column: 1 / span 1;
  grid-row: 5;
  border-right: 2px solid #76b4c8;
}

@media (max-width: 1024px) {
  .sidebar.relevant-skills {
    grid-row: 8;
    grid-column: 1 / span 2;
    margin-left: 2em;
  }
}

@media (max-width: 640px) {
  .sidebar.relevant-skills {
    grid-column: 1 / -1;
    margin: 2em;
  }
}

.sidebar.creations {
  grid-column: 1 / span 1;
  grid-row: 8;
  border-right: 2px solid #76b4c8;
}

@media (max-width: 1024px) {
  .sidebar.creations {
    grid-row: 14;
    grid-column: 1 / -1;
    max-width: 400px;
    margin: auto;
  }
}

.sidebar.other-skills {
  grid-column: span 1 / -1;
  border-left: 2px solid #76b4c8;
}

@media (max-width: 1024px) {
  .sidebar.other-skills {
    grid-row: 8;
    grid-column: span 2 / -1;
    margin-right: 2em;
  }
}

@media (max-width: 640px) {
  .sidebar.other-skills {
    grid-row: 9;
    grid-column: 1 / -1;
    margin: 2em;
  }
}

footer {
  border-top: 2px solid #76b4c8;
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 8em 0;
}

@media print {
  footer {
    border: none;
  }
}

footer p {
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  max-width: 500px;
  margin: auto;
  list-style: none;
  text-align: center;
}

@media print {
  .web-footer {
    display: none;
  }
}

.print-footer {
  display: none;
}

@media print {
  .print-footer {
    display: block;
  }
}

p {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  line-height: 2;
  font-size: 1.4em;
  font-weight: 300;
}

@media (max-width: 1024px) {
  p {
    font-size: 1.2em;
  }
}

@media print {
  p {
    line-height: 1.4;
    font-size: 1em;
  }
}

a,
a:visited,
a:hover,
a:active {
  -webkit-text-decoration: underline wavy #76b4c8;
          text-decoration: underline wavy #76b4c8;
  color: inherit;
}

.headline {
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

@media print {
  h1 {
    display: block;
    font-size: 2rem;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 10vw;
  }
}

h2,
h3 {
  margin-bottom: 0;
}

h2 {
  font-size: 3em;
}

@media (max-width: 640px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
}

@media (max-width: 640px) {
  h3 {
    font-size: 1.5em;
  }
}

blockquote {
  font-weight: 300;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  grid-column: 1 / -1;
  font-style: italic;
  font-size: 5em;
  color: #76b4c8;
}

@media print {
  blockquote {
    display: none;
  }
}

@media (max-width: 1024px) {
  blockquote {
    font-size: 10vw;
  }
}

.wrapper {
  display: grid;
  grid-gap: 10px 50px;
  grid-template-columns: minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 200px auto 100px auto;
}

@media print {
  .wrapper {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin-top: 50px;
  }
}

.wrapper > section {
  max-width: 1200px;
  grid-column: 2/-2;
  margin: 32px 0;
}

@media print {
  .wrapper > section {
    margin: 50px;
    grid-column: 1 / -1;
    page-break-after: always;
  }
}

@media (max-width: 1024px) {
  .wrapper > section {
    grid-column: 1 / -1;
  }
}

@media (max-width: 1024px) {
  .experience,
  .profile {
    padding: 0 2em;
  }
}

.logo {
  height: 30px;
  display: none;
}

.date {
  font-size: 1em;
  color: #8c8c8c;
}

@media (max-width: 640px) {
  .date {
    font-size: 0.8em;
  }
}

.experience {
  text-align: center;
}

.experience p {
  margin: 0;
}

figure {
  grid-column: 1 /-1;
  margin: 2em 0 2em 0;
}

@media print {
  figure {
    display: none;
  }
}

figure > img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  font-size: 0.6em;
  font-family: "Nunito", sans-serif;
  margin-left: 1em;
  color: #8c8c8c;
}

@media (min-width: 1025px) {
  figcaption {
    margin-left: 0;
  }
}
