.experience {
  text-align: center;
}
.experience p {
  margin: 0;
}
.title {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

// Company logos (not used)
.logo {
  height: 30px;
  display: none;
}
// .work > .company {
//   display: none;
// }
// .education > .logo {
//   display: none;
// }
.date {
  font-size: 1em;
  color: $second-font-color;
}
