// Footer
footer {
  border-top: 2px solid $highlight-color;
  grid-column: 1/-1;
  background-color: $sidebar-bg-color;
  padding: 8em 0;
  @include breakpoint(print) {
    border: none;
  }
}
footer p {
  font-family: $sidebar-font;
  font-size: 0.7em;
  max-width: 500px;
  margin: auto;
  list-style: none;
  text-align: center;
}

.web-footer {
  @include breakpoint(print) {
    display: none;
  }
}

.print-footer {
  display: none;
  @include breakpoint(print) {
    display: block;
  }
}
