// Footer
footer {
  display: none;
  border-top: 2px solid $highlight-color;
  grid-column: 1/-1;
  background-color: $sidebar-bg-color;
  padding: 100px;
  margin-top: 100px;
  @include breakpoint(print) {
    display: initial;
    border: none;
    grid-column: 2;
  }
}
footer ul {
  list-style: none;
  text-align: center;
}
footer li {
  font-family: $sidebar-font;
  font-size: 12px;
  padding: 4px;
}
