header {
  grid-column: 1/-1;

  @include breakpoint(print) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2;
    padding: 0;
  }
}
h1.headline {
  font-size: 5rem;
  @include breakpoint(print) {
    display: block;
    font-size: 2rem;
    margin: auto;
  }
}

.me {
  display: block;
  border-radius: 50%;
  height: 200px;
  width: auto;
  margin: auto;
  padding: 50px;
  @include breakpoint(print) {
    height: 70px;
    width: auto;
    margin: initial;
  }
}
