// Print tweaks
@media screen {
  .me {
    height: 100px;
    width: auto;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  p {
    line-height: 1.5;
    font-size: 1em;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  section.experience h2 {
    page-break-before: always;
  }

  figure {
    display: none;
  }

  blockquote {
    display: none;
  }
  .wrapper {
    margin: auto;
  }
  .wrapper > section {
    margin: 50px;
    grid-column: 1 / -1;
  }
  .sidebar {
    display: none;
  }

  footer {
    margin-top: 280px;
    padding: 1em;
    border: none;
  }
  footer p {
    font-size: 0.5em;
    line-height: 1.8;
  }
  .web-footer {
    display: none;
  }

  .print-footer {
    display: block;
  }
}
