// .profile p:first-of-type:first-letter {
//   -webkit-initial-letter: 2;
// }

.profile img:last-of-type,
.letter img:last-of-type {
  transform: rotate(-4deg);
  width: 200px;
  margin-top: 50px;
  @include breakpoint(smartphone-big) {
    width: 150px;
  }
}
