// General sidebar
.sidebar {
  padding: 0.5em;
  background-color: $sidebar-bg-color;
  border-radius: 5px;
  @include breakpoint(print) {
    display: none;
  }
  @include breakpoint(tablet) {
    border: 2px solid $highlight-color;
  }
}
.sidebar h4 {
  font-size: 1em;
  font-family: $sidebar-font;
  margin: 0.5em;
  text-align: center;
}

.list-items {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  font-family: $sidebar-font;
  padding: 0.5em;
  flex-basis: 100%;
  @include breakpoint(tablet) {
    flex: 1 1 40%;
  }
  @include breakpoint(smartphone-small) {
    flex: 1 1 100%;
  }
}

// Contact information
.sidebar.contact {
  grid-column: span 1 / -1;
  grid-row-start: 2;
  border-left: 2px solid $highlight-color;
  align-self: center;
  @include breakpoint(tablet) {
    grid-column: 1 / -1;
    grid-row: 3;
    margin: 2em;
    text-align: center;
  }
}
.social-icons {
  max-height: 30px;
  display: block;
  height: 100%;
  width: 100%;
}

.list-item.contact {
  @include breakpoint(tablet) {
    flex: 1 20%;
  }
  @include breakpoint(smartphone-big) {
    flex: 1 100%;
  }
}

.list-item.social {
  flex: 1;
}

// Relevant skills
.sidebar.relevant-skills {
  align-self: center;
  grid-column: 1 / span 1;
  grid-row: 5 / span 5;
  border-right: 2px solid $highlight-color;
  @include breakpoint(tablet) {
    grid-row: 8;
    grid-column: 1 / span 2;
    margin-left: 2em;
  }
  @include breakpoint(smartphone-big) {
    grid-column: 1 / -1;
    margin: 2em;
  }
}

// Irrelevant skills
.sidebar.other-skills {
  align-self: center;
  grid-column: span 1 / -1;
  border-left: 2px solid $highlight-color;
  @include breakpoint(tablet) {
    grid-row: 8;
    grid-column: span 2 / -1;
    margin-right: 2em;
  }
  @include breakpoint(smartphone-big) {
    grid-row: 9;
    grid-column: 1 / -1;
    margin: 2em;
  }
}
