.sidebar {
  max-width: 640px;
  margin: auto;
  background-color: $sidebar-bg-color;
  border-radius: 5px;
  align-self: center;
  padding: 1em;

  @include breakpoint(smartphone-big) {
    margin: auto 2em;
  }

  ul {
    font-size: 0.9em;
    display: grid;
    gap: 1em;
    list-style-type: square;
    margin: 0;
    padding: 0 0 0 1em;

    li {
      font-family: $sidebar-font;
    }
  }

  h4 {
    font-size: 1em;
    font-family: $sidebar-font;
    margin: 0 0 1em 0;
    text-align: initial;

    @include breakpoint(tablet) {
      text-align: center;
    }
  }

  .social-icon {
    height: 30px;
    width: 100%;
    display: block;
  }

  &.contact {
    grid-area: contact;

    @include breakpoint(desktop) {
      border-left: 2px solid $highlight-color;
    }
    @include breakpoint(tablet) {
      text-align: center;
    }

    ul {
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      padding: 0;

      li:first-child {
        grid-column: 1 / -1;
      }
    }
  }

  &.rel-skills {
    grid-area: rel-skills;

    @include breakpoint(desktop) {
      border-right: 2px solid $highlight-color;
    }
  }

  &.creations {
    grid-area: creations;

    @include breakpoint(desktop) {
      border-right: 2px solid $highlight-color;
    }
  }

  &.other-skills {
    grid-area: other-skills;

    @include breakpoint(desktop) {
      border-left: 2px solid $highlight-color;
    }
  }
}
