p {
  font-family: $main-font;
  line-height: 2;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
  @include breakpoint(tablet) {
    font-size: 1.2em;
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline wavy $highlight-color;
  color: inherit;
}

// Headlines
h1,
h2,
h3,
h4 {
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0;
  @include breakpoint(tablet) {
    font-size: 10vw;
  }
}

h2 {
  margin-top: 0;
  font-size: 3em;
  @include breakpoint(smartphone-big) {
    font-size: 2em;
  }
}
h3 {
  font-size: 2em;
  @include breakpoint(smartphone-big) {
    font-size: 1.5em;
  }
}
h4 {
  font-size: 1.5em;
  margin-top: 0;
  @include breakpoint(smartphone-big) {
    font-size: 1.2em;
  }
}

// Quotes
blockquote {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-family: $main-font;
  grid-column: 1 / -1;
  font-style: italic;
  color: $highlight-color;
  font-size: 5em;
  @include breakpoint(tablet) {
    font-size: 10vw;
  }
}
