@import "reset";
@import "mixins";
@import "variables";
@import "header";
@import "profile";
@import "sidebars";
@import "footer";

p {
  font-family: $main-font;
  line-height: 2;
  font-size: 1.4em;
  font-weight: 300;
  @include breakpoint(tablet) {
    font-size: 1.2em;
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline wavy $highlight-color;
  color: inherit;
}

// Headlines
h1,
h2,
h3,
h4 {
  font-family: $main-font;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 5rem;
  @include breakpoint(tablet) {
    font-size: 10vw;
  }
}

h2 {
  margin-top: 0;
  font-size: 3em;
  @include breakpoint(smartphone-big) {
    font-size: 2em;
  }
}
h3 {
  font-size: 2em;
  @include breakpoint(smartphone-big) {
    font-size: 1.5em;
  }
}
h4 {
  font-size: 1.5em;
  margin-top: 0;
  @include breakpoint(smartphone-big) {
    font-size: 1.2em;
  }
}

blockquote {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-family: $main-font;
  grid-column: 1 / -1;
  font-style: italic;
  color: $highlight-color;
  font-size: 5em;
  @include breakpoint(tablet) {
    font-size: 10vw;
  }
}

// General layout
.wrapper {
  max-width: 800px;
  margin: 100px auto;
  @supports (display: grid) {
    max-width: 1200px;
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    grid-template-columns: minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
    grid-template-areas:
      "header  header header  header"
      "profile-sidebar-1  profile  profile  profile-sidebar-2"
      "hero-1 hero-1 hero-1 hero-1"
      "quote-1 quote-1 quote-1 quote-1"
      "work-sidebar-1 work work work-sidebar-2"
      "hero-2 hero-2 hero-2 hero-2"
      "quote-2 quote-2 quote-2 quote-2"
      "edu-sidebar-1 edu edu edu-sidebar-2"
      "quote-3 quote-3 quote-3 quote-3"
      "vol-sidebar-1 vol vol vol-sidebar-2";
  }
  @include breakpoint(tablet) {
    margin-top: 50px;
  }
  @include breakpoint(smartphone-big) {
    margin-bottom: 0px;
  }
}

.wrapper > section {
  grid-column: 2/-2;
  @include breakpoint(tablet) {
    grid-column: 1 / -1;
  }
}

.experience,
.profile {
  max-width: 640px;
  margin: auto;

  @include breakpoint(tablet) {
    padding: 0 2em;
  }
}

// Company logos (not used)
.logo {
  height: 30px;
  display: none;
}

.date {
  font-size: 1em;
  color: $second-font-color;
  @include breakpoint(smartphone-big) {
    font-size: 0.8em;
  }
}

.experience {
  text-align: center;
}
.experience p {
  margin: 0;
}

// Images
figure {
  grid-column: 1 /-1;
  margin: 0;
}

figure img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
figcaption {
  font-size: 0.6em;
  font-family: $sidebar-font;
  margin-left: 1em;
  color: $second-font-color;
  @include breakpoint(desktop) {
    margin-left: 0;
  }
}

// Print layout tweaks
@import "print";
