@import "reset";
@import "mixins";
@import "variables";
@import "animations";
@import "texts";
@import "heroes";
@import "header";
@import "profile";
@import "sidebars";
@import "footer";

// General layout
.wrapper {
  overflow-x: hidden; //Fix for horizontal scroll when using AOS
  max-width: 800px;
  margin: 100px auto;
  @supports (display: grid) {
    max-width: 1200px;
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    grid-template-columns: minmax(auto, 230px) 1fr 1fr minmax(auto, 230px);
    grid-template-areas:
      "header  header header header"
      ". profile profile contact"
      "hero-1 hero-1 hero-1 hero-1"
      "quote-1 quote-1 quote-1 quote-1"
      "relevant-skills work work ."
      "hero-2 hero-2 hero-2 hero-2"
      "quote-2 quote-2 quote-2 quote-2"
      "creations edu edu ."
      "quote-3 quote-3 quote-3 quote-3"
      ". vol vol other-skills";

    @include breakpoint(tablet) {
      margin: 50px auto;
      grid-template-columns: 1fr 1fr;

      grid-template-areas:
        "header header"
        "profile profile"
        "contact contact"
        "hero-1 hero-1"
        "quote-1 quote-1"
        "work work"
        "hero-2 hero-2"
        "relevant-skills other-skills"
        "quote-2 quote-2"
        "edu edu"
        "quote-3 quote-3"
        "vol vol"
        "creations creations";
    }
    @include breakpoint(smartphone-big) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "profile"
        "contact"
        "hero-1"
        "quote-1"
        "work"
        "hero-2"
        "relevant-skills"
        "other-skills"
        "quote-2"
        "edu"
        "quote-3"
        "vol"
        "creations";
    }
  }
}
.profile,
.experience {
  max-width: 640px;
  margin: auto;
  @include breakpoint(tablet) {
    padding: 0 2em;
  }
}
.profile {
  grid-area: profile;
}

.experience {
  text-align: center;
}
.work.experience {
  grid-area: work;
}
.education.experience {
  grid-area: edu;
}

.volunteer.experience {
  grid-area: vol;
}

// Company logos (not used)
.logo {
  height: 30px;
  display: none;
}

.date {
  font-size: 1em;
  color: $second-font-color;
  @include breakpoint(smartphone-big) {
    font-size: 0.8em;
  }
}

// Print layout tweaks
@import "print";
